<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="OrderProcessingServicePortBinding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrder"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/MyServices/OPService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrder" contract="SelfHostedOPService.IOrder" name="WSHttpBinding_IOrder">
                <identity>
                    <userPrincipalName value="UFAD\aytugh"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/jwsorderprocessing/OrderProcessingService" binding="customBinding" bindingConfiguration="OrderProcessingServicePortBinding" contract="jwsopservice.OrderProcessingService" name="OrderProcessingServicePort"/>
        </client>
    </system.serviceModel>
</configuration>
